/* code */

code {
  font-family: 'Anonymous Pro', monospace;
  font-size: 0.85em;
  color: #000;

  /* syntax hl stuff */
}

code.lang-markdown {
  color: #424242;
}

code.lang-markdown .header, code.lang-markdown .strong {
  font-weight: bold;
}

code.lang-markdown .emphasis {
  font-style: italic;
}

code.lang-markdown .horizontal_rule, code.lang-markdown .link_label, code.lang-markdown .code, code.lang-markdown .header, code.lang-markdown .link_url {
  color: #555;
}

code.lang-markdown .blockquote, code.lang-markdown .bullet {
  color: #bbb;
}

pre code {
  display: block;
  line-height: 1.1;
}

p code {
  padding: 0.1em 0.3em 0.2em;
  border-radius: 0.3em;
  position: relative;
  background: #fffff3;
  white-space: nowrap;
}
